In [187]:
import pandas as pd
import numpy as np
!pip install requests
import requests
from urllib.parse import urlparse

Requirement already satisfied: requests in c:\users\hskan\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (1.26.4)

In [188]:
propdf = pd.read_csv("prop_concat2015~2020.csv", encoding='utf-8',index_col = 0)
propdf

,전용면적(㎡),계약일,거래금액(만원),층,연도,월,연수,시,구,동,주소
0,2.0,11,60000,4.0,2015,1.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
1,2.0,3,65000,4.0,2015,2.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
2,2.0,7,62500,3.0,2015,2.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
3,2.0,16,68000,4.0,2015,3.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
4,2.0,29,73000,4.0,2015,1.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 3
...,...,...,...,...,...,...,...,...,...,...,...
576530,2.0,7,26000,3.0,2020,3.0,5.0,서울특별시,중랑구,중화동,서울특별시 중랑구 동일로144길 74
576531,3.0,10,44000,4.0,2020,3.0,4.0,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 23
576532,3.0,3,54800,4.0,2020,5.0,4.0,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 23
576533,2.0,28,40000,4.0,2020,3.0,4.0,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 19
576534,2.0,28,40000,4.0,2020,3.0,4.0,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 19

In [189]:
df_new = propdf.drop_duplicates(subset='주소')
df_new = df_new.reset_index(drop=True)
df_new

,전용면적(㎡),계약일,거래금액(만원),층,연도,월,연수,시,구,동,주소
0,2.0,11,60000,4.0,2015,1.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
1,2.0,29,73000,4.0,2015,1.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 3
2,4.0,4,110000,3.0,2015,1.0,8.0,서울특별시,강남구,개포동,서울특별시 강남구 개포로 307
3,5.0,10,141000,5.0,2015,1.0,4.0,서울특별시,강남구,개포동,서울특별시 강남구 개포로109길 69
4,1.0,5,83000,2.0,2015,1.0,8.0,서울특별시,강남구,개포동,서울특별시 강남구 개포로 310
...,...,...,...,...,...,...,...,...,...,...,...
8797,1.0,7,28000,3.0,2020,3.0,5.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 동일로126나길 38
8798,1.0,27,29800,5.0,2020,3.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 봉우재로33길 85
8799,1.0,1,28000,4.0,2020,3.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 면목로92길 28
8800,1.0,3,43700,5.0,2020,1.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 봉우재로 155
8801,1.0,21,27600,4.0,2020,2.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 봉우재로41길 6

In [191]:
df_new.to_csv('df_duplicate.csv',mode='w')

In [180]:
def address_to_latlon(address):
    url = "https://dapi.kakao.com/v2/local/search/address.json?&query=" + address
    result = requests.get(urlparse(url).geturl(),
                          headers={"Authorization":"KakaoAK e0a854d712dcc8a939b48a11d0201978"})
    json_obj = result.json()
    for document in json_obj['documents']:
        global val
        val = [document['address_name'], document['x'], document['y']]
        
    return val

In [181]:
list = []
for address in df_new['주소']:
    list.append(address_to_latlon(address))
    
df_new1 = pd.DataFrame(list, columns =[ 'address_name', 'lon', 'lat'])
df_new1.head()

        address_name               lon               lat
0     서울 강남구 언주로 103  127.052911761665   37.481343842076
1       서울 강남구 언주로 3  127.055925867398  37.4767921771121
2     서울 강남구 개포로 307  127.056092038196  37.4846310565134
3  서울 강남구 개포로109길 69  127.076127258586  37.4962923064311
4  서울 강남구 개포로109길 69  127.076127258586  37.4962923064311

In [182]:
df_new1.to_csv('addresstolonlat.csv', mode = 'w')

In [8]:
df_new2 = pd.concat([df_new,df_new1],axis=1)
df_new2

,전용면적(㎡),계약일,거래금액(만원),층,연도,월,연수,시,구,동,주소,address_name,lon,lat
0,2.0,11,60000,4.0,2015,1.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103,서울 강남구 언주로 103,127.052911761665,37.481343842076
1,2.0,29,73000,4.0,2015,1.0,7.0,서울특별시,강남구,개포동,서울특별시 강남구 언주로 3,서울 강남구 언주로 3,127.055925867398,37.4767921771121
2,4.0,4,110000,3.0,2015,1.0,8.0,서울특별시,강남구,개포동,서울특별시 강남구 개포로 307,서울 강남구 개포로 307,127.056092038196,37.4846310565134
3,5.0,10,141000,5.0,2015,1.0,4.0,서울특별시,강남구,개포동,서울특별시 강남구 개포로109길 69,서울 강남구 개포로109길 69,127.076127258586,37.4962923064311
4,1.0,5,83000,2.0,2015,1.0,8.0,서울특별시,강남구,개포동,서울특별시 강남구 개포로 310,서울 강남구 개포로109길 69,127.076127258586,37.4962923064311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8797,1.0,7,28000,3.0,2020,3.0,5.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 동일로126나길 38,서울 중랑구 동일로126나길 38,127.084053225719,37.5971953664239
8798,1.0,27,29800,5.0,2020,3.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 봉우재로33길 85,서울 중랑구 봉우재로33길 85,127.089638250848,37.595851483177
8799,1.0,1,28000,4.0,2020,3.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 면목로92길 28,서울 중랑구 면목로92길 28,127.087416283987,37.5952025439828
8800,1.0,3,43700,5.0,2020,1.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 봉우재로 155,서울 중랑구 봉우재로 155,127.09000769029,37.5937461258646
8801,1.0,21,27600,4.0,2020,2.0,1.0,서울특별시,중랑구,상봉동,서울특별시 중랑구 봉우재로41길 6,서울 중랑구 봉우재로41길 6,127.089738968108,37.5937258779727

In [175]:
def search_SW8(lon, lat):
    dfd = pd.DataFrame(columns = ['distance'])
    page = 1
    while True:
        
        url = "https://dapi.kakao.com/v2/local/search/category.json?&category_group_code=SW8&x="\
        +str(lon)+"&y="+str(lat)+"&page="+str(page)+"&radius=5000"
        json_obj = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK e0a854d712dcc8a939b48a11d0201978"}).json()
        for document in json_obj['documents']:
            dfd_s = pd.DataFrame(document, index=[0])[['distance']]
            dfd = dfd.append(dfd_s)
        if json_obj['meta']['is_end'] == False:
            page += 1
        else:
            return dfd

In [176]:
list = []

for row in df_new2.itertuples():
    lon = getattr(row, 'lon')
    lat = getattr(row, 'lat')
    list.append(search_SW8(lon, lat))
    
df_new3 = pd.DataFrame(list, columns =[ 'distance'])
df_new3.head()

KeyboardInterrupt:

In [137]:
dfmw = pd.read_csv("df_new3.csv", encoding='utf-8',index_col = 0)
dfmw

                                               distance
0       distance\n0      828\n0     1093\n0      858...
1       distance\n0     1178\n0     1390\n0     1574...
2       distance\n0      705\n0      401\n0      868...
3       distance\n0      415\n0      443\n0      591...
4       distance\n0      415\n0      443\n0      591...
...                                                 ...
8797    distance\n0      233\n0      727\n0      770...
8798    distance\n0      451\n0      344\n0      814...
8799    distance\n0      630\n0      152\n0      720...
8800    distance\n0      600\n0      650\n0      427...
8801    distance\n0      590\n0      660\n0      407...

[8802 rows x 1 columns]

In [138]:
list1  = dfmw.distance.str.split('\n0')
list1

0       [  distance,       828,      1093,       858, ...
1       [  distance,      1178,      1390,      1574, ...
2       [  distance,       705,       401,       868, ...
3       [  distance,       415,       443,       591, ...
4       [  distance,       415,       443,       591, ...
                              ...
8797    [  distance,       233,       727,       770, ...
8798    [  distance,       451,       344,       814, ...
8799    [  distance,       630,       152,       720, ...
8800    [  distance,       600,       650,       427, ...
8801    [  distance,       590,       660,       407, ...
Name: distance, Length: 8802, dtype: object

In [139]:
dfmw1 = pd.DataFrame.from_records(list1)
dfmw1 = dfmw1.copy().drop(0,axis=1)
dfmw1

,1,2,3,4,5,6,7,8,9,10,...,36,37,38,39,40,41,42,43,44,45
0,828,1093,858,1453,1157,1658,1696,1588,1720,1783,...,4230,4315,4187,3927,4474,4043,4431,4512,4361,4713
1,1178,1390,1574,1711,1640,1648,2067,2109,1980,2179,...,4584,4582,4668,4678,4708,4738,4600,4711,4875,None
2,705,401,868,1018,1262,1323,781,1686,1939,1904,...,3829,4238,4085,4109,4357,3469,4214,4040,3777,4740
3,415,443,591,1160,1188,1351,1537,1660,1810,1925,...,3856,3924,4000,3238,4031,4260,4254,3893,4239,3698
4,415,443,591,1160,1188,1351,1537,1660,1810,1925,...,3856,3924,4000,3238,4031,4260,4254,3893,4239,3698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8797,233,727,770,784,94,989,110,747,682,1590,...,4282,4357,3592,4462,3673,4459,4584,4581,4390,3548
8798,451,344,814,420,407,1176,1237,498,1658,1137,...,3966,4337,4046,4313,4582,3957,4747,4786,4814,4739
8799,630,152,720,284,1037,1085,261,656,1585,938,...,3865,4392,3757,3838,4207,4544,4540,3898,4771,4891
8800,600,650,427,563,540,1271,712,1359,1427,1176,...,4279,3907,4446,4092,3987,4606,4628,4163,4756,4827
8801,590,660,407,546,523,1247,720,1344,1423,1153,...,4255,4427,3884,4084,3964,4603,4607,4151,4732,4851

In [140]:
dfmw1 = dfmw1.apply(pd.to_numeric)

In [141]:
dfmw1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8802 entries, 0 to 8801
Data columns (total 45 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       8802 non-null   int64
 1   2       8802 non-null   int64
 2   3       8802 non-null   int64
 3   4       8802 non-null   int64
 4   5       8802 non-null   int64
 5   6       8802 non-null   int64
 6   7       8798 non-null   float64
 7   8       8793 non-null   float64
 8   9       8791 non-null   float64
 9   10      8786 non-null   float64
 10  11      8782 non-null   float64
 11  12      8776 non-null   float64
 12  13      8763 non-null   float64
 13  14      8749 non-null   float64
 14  15      8731 non-null   float64
 15  16      8698 non-null   float64
 16  17      8664 non-null   float64
 17  18      8631 non-null   float64
 18  19      8599 non-null   float64
 19  20      8564 non-null   float64
 20  21      8511 non-null   float64
 21  22      8399 non-null   float64
 22  23      8286 non-null   float64
 23  24      8132 non-null   float64
 24  25      8047 non-null   float64
 25  26      7994 non-null   float64
 26  27      7918 non-null   float64
 27  28      7819 non-null   float64
 28  29      7636 non-null   float64
 29  30      7483 non-null   float64
 30  31      7287 non-null   float64
 31  32      7158 non-null   float64
 32  33      6997 non-null   float64
 33  34      6852 non-null   float64
 34  35      6674 non-null   float64
 35  36      6489 non-null   float64
 36  37      6322 non-null   float64
 37  38      6053 non-null   float64
 38  39      5808 non-null   float64
 39  40      5510 non-null   float64
 40  41      5286 non-null   float64
 41  42      5069 non-null   float64
 42  43      4836 non-null   float64
 43  44      4723 non-null   float64
 44  45      4552 non-null   float64
dtypes: float64(39), int64(6)
memory usage: 3.0 MB

In [142]:
listcnt = dfmw1[dfmw1<2000].count(axis=1)

In [143]:
dfmw2 = pd.DataFrame(listcnt)
dfmw2

       0
0     10
1      7
2     11
3     15
4     15
...   ..
8797  13
8798  11
8799  12
8800  10
8801  10

[8802 rows x 1 columns]

In [173]:
dfmwfinal0 = pd.merge(dfmw2,dfmw1,left_index=True,right_index=True,how='left')
dfmwfinal0 = dfmwfinal0.iloc[:,0:2]
dfmwfinal0 = dfmwfinal0.rename(columns={0:'2km이내 지하철 개수',1:'지하철 최단거리'})

In [174]:
dfmwfinal0

      2km이내 지하철 개수  지하철 최단거리
0               10       828
1                7      1178
2               11       705
3               15       415
4               15       415
...            ...       ...
8797            13       233
8798            11       451
8799            12       630
8800            10       600
8801            10       590

[8802 rows x 2 columns]