# 카카오 맵 API를 통해 거리내 시설 개수 및 최단거리 구하기

In [4]:
import pandas as pd
import numpy as np
!pip install requests
import requests
from urllib.parse import urlparse
propdf = pd.read_csv('addresstolonlat.csv', encoding='utf-8',index_col = 0)
propdf

Requirement already satisfied: requests in c:\users\hskan\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hskan\anaconda3\lib\site-packages (from requests) (4.0.0)

            address_name         lon        lat
0         서울 강남구 언주로 103  127.052912  37.481344
1           서울 강남구 언주로 3  127.055926  37.476792
2         서울 강남구 개포로 307  127.056092  37.484631
3      서울 강남구 개포로109길 69  127.076127  37.496292
4      서울 강남구 개포로109길 69  127.076127  37.496292
...                  ...         ...        ...
8797  서울 중랑구 동일로126나길 38  127.084053  37.597195
8798   서울 중랑구 봉우재로33길 85  127.089638  37.595851
8799    서울 중랑구 면목로92길 28  127.087416  37.595203
8800     서울 중랑구 봉우재로 155  127.090008  37.593746
8801    서울 중랑구 봉우재로41길 6  127.089739  37.593726

[8802 rows x 3 columns]

REST API : 
    MJ 76e81bf10590f300f632b5af3d78e6af
    HY a483dc00b0c9e02541ab556960805318
    MOM fd5fb17f6b8fdf3f01b2c17d7b215a33

MT1 대형마트
CS2 편의점
PS3 어린이집, 유치원
SC4 학교
AC5 학원
PK6 주차장
OL7 주유소, 충전소
SW8 지하철역
BK9 은행
CT1 문화시설
AG2 중개업소
PO3 공공기관
AT4 관광명소
AD5 숙박
FD6 음식점
CE7 카페
HP8 병원
PM9 약국

In [26]:
#유치원, 어린이집def

def search_PS3(lon, lat):
    dfd = pd.DataFrame(columns = ['distance'])
    page = 1
    while True:
        
        url = "https://dapi.kakao.com/v2/local/search/category.json?&category_group_code=PS3&x="\
        +str(lon)+"&y="+str(lat)+"&page="+str(page)+"&radius=1500"
        json_obj = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK e0a854d712dcc8a939b48a11d0201978"}).json()
        for document in json_obj['documents']:
            dfd_s = pd.DataFrame(document, index=[0])[['distance']]
            dfd = dfd.append(dfd_s)
        if json_obj['meta']['is_end'] == False:
            page += 1
        else:
            return dfd

In [ ]:
list = []

for row in propdf.itertuples():
    lon = getattr(row, 'lon')
    lat = getattr(row, 'lat')
    list.append(search_PS3(lon, lat))
    
df_PS3 = pd.DataFrame(list, columns =[ 'distance'])
df_PS3.head()

In [25]:
df_PS3.to_csv("df_PS3.csv",mode='w')

In [31]:
#학교def

def search_SC4(lon, lat):
    dfd = pd.DataFrame(columns = ['distance'])
    page = 1
    while True:
        
        url = "https://dapi.kakao.com/v2/local/search/category.json?&category_group_code=SC4&x="\
        +str(lon)+"&y="+str(lat)+"&page="+str(page)+"&radius=2000"
        json_obj = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK a483dc00b0c9e02541ab556960805318"}).json()
        for document in json_obj['documents']:
            dfd_s = pd.DataFrame(document, index=[0])[['distance']]
            dfd = dfd.append(dfd_s)
        if json_obj['meta']['is_end'] == False:
            page += 1
        else:
            return dfd

In [32]:
list = []

for row in propdf.itertuples():
    lon = getattr(row, 'lon')
    lat = getattr(row, 'lat')
    list.append(search_SC4(lon, lat))
    
df_SC4 = pd.DataFrame(list, columns =[ 'distance'])
df_SC4.head()

C:\Users\hskan\anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                            distance
0    distance
0      110
0      567
0      648
0 ...
1    distance
0      408
0      294
0      617
0 ...
2    distance
0      223
0      678
0      164
0 ...
3    distance
0      511
0      666
0      618
0 ...
4    distance
0      511
0      666
0      618
0 ...

In [35]:
df_SC4.to_csv("df_SC4.csv",mode='w')

In [36]:
#문화시설 def

def search_CT1(lon, lat):
    dfd = pd.DataFrame(columns = ['distance'])
    page = 1
    while True:
        
        url = "https://dapi.kakao.com/v2/local/search/category.json?&category_group_code=CT1&x="\
        +str(lon)+"&y="+str(lat)+"&page="+str(page)+"&radius=3000"
        json_obj = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK a483dc00b0c9e02541ab556960805318"}).json()
        for document in json_obj['documents']:
            dfd_s = pd.DataFrame(document, index=[0])[['distance']]
            dfd = dfd.append(dfd_s)
        if json_obj['meta']['is_end'] == False:
            page += 1
        else:
            return dfd

In [37]:
list = []

for row in propdf.itertuples():
    lon = getattr(row, 'lon')
    lat = getattr(row, 'lat')
    list.append(search_CT1(lon, lat))
    
df_CT1 = pd.DataFrame(list, columns =[ 'distance'])
df_CT1.head()

C:\Users\hskan\anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                            distance
0    distance
0      852
0      849
0      629
0 ...
1    distance
0     1419
0      433
0      499
0 ...
2    distance
0      855
0      905
0      856
0 ...
3    distance
0      350
0      362
0      420
0 ...
4    distance
0      350
0      362
0      420
0 ...

In [38]:
df_CT1.to_csv("df_CT1.csv",mode='w')

In [49]:
#병원def

def search_HP8(lon, lat):
    dfd = pd.DataFrame(columns = ['distance'])
    page = 1
    while True:
        
        url = "https://dapi.kakao.com/v2/local/search/category.json?&category_group_code=HP8&x="\
        +str(lon)+"&y="+str(lat)+"&page="+str(page)+"&radius=3000"
        json_obj = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK fd5fb17f6b8fdf3f01b2c17d7b215a33"}).json()
        for document in json_obj['documents']:
            dfd_s = pd.DataFrame(document, index=[0])[['distance']]
            dfd = dfd.append(dfd_s)
        if json_obj['meta']['is_end'] == False:
            page += 1
        else:
            return dfd

In [50]:
list = []
df_PS3.to_csv("df_PS3.csv",mode='w')
for row in propdf.itertuples():
    lon = getattr(row, 'lon')
    lat = getattr(row, 'lat')
    list.append(search_HP8(lon, lat))
    
df_HP8 = pd.DataFrame(list, columns =[ 'distance'])
df_HP8.head()

C:\Users\hskan\anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                            distance
0    distance
0      756
0      288
0      779
0 ...
1    distance
0      507
0      693
0      976
0 ...
2    distance
0      213
0     1249
0      429
0 ...
3    distance
0      820
0     1222
0      401
0 ...
4    distance
0      820
0     1222
0      401
0 ...

In [51]:
df_HP8.to_csv("df_HP8.csv",mode='w')

In [54]:
#공공기관def

def search_PO3(lon, lat):
    dfd = pd.DataFrame(columns = ['distance'])
    page = 1
    while True:
        
        url = "https://dapi.kakao.com/v2/local/search/category.json?&category_group_code=PO3&x="\
        +str(lon)+"&y="+str(lat)+"&page="+str(page)+"&radius=1500"
        json_obj = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK fd5fb17f6b8fdf3f01b2c17d7b215a33"}).json()
        for document in json_obj['documents']:
            dfd_s = pd.DataFrame(document, index=[0])[['distance']]
            dfd = dfd.append(dfd_s)
        if json_obj['meta']['is_end'] == False:
            page += 1
        else:
            return dfd

In [55]:
list = []

for row in propdf.itertuples():
    lon = getattr(row, 'lon')
    lat = getattr(row, 'lat')
    list.append(search_PO3(lon, lat))
    
df_PO3 = pd.DataFrame(list, columns =[ 'distance'])
df_PO3.head()

C:\Users\hskan\anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                            distance
0    distance
0      299
0      635
0      284
0 ...
1    distance
0      443
0      583
0      656
0 ...
2    distance
0      217
0      864
0      753
0 ...
3    distance
0      322
0      504
0      771
0 ...
4    distance
0      322
0      504
0      771
0 ...

In [66]:
df_PO3.to_csv("df_PO3.csv",mode='w')

In [57]:
#대형마트def

def search_MT1(lon, lat):
    dfd = pd.DataFrame(columns = ['distance'])
    page = 1
    while True:
        
        url = "https://dapi.kakao.com/v2/local/search/category.json?&category_group_code=MT1&x="\
        +str(lon)+"&y="+str(lat)+"&page="+str(page)+"&radius=1500"
        json_obj = requests.get(urlparse(url).geturl(),headers={"Authorization":"KakaoAK fd5fb17f6b8fdf3f01b2c17d7b215a33"}).json()
        for document in json_obj['documents']:
            dfd_s = pd.DataFrame(document, index=[0])[['distance']]
            dfd = dfd.append(dfd_s)
        if json_obj['meta']['is_end'] == False:
            page += 1
        else:
            return dfd

In [58]:
list = []

for row in propdf.itertuples():
    lon = getattr(row, 'lon')
    lat = getattr(row, 'lat')
    list.append(search_MT1(lon, lat))
    
df_MT1 = pd.DataFrame(list, columns =[ 'distance'])
df_MT1.head()

C:\Users\hskan\anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                            distance
0    distance
0      197
0     1095
0      860
0 ...
1    distance
0      746
0     1296
0     1389
0 ...
2    distance
0      315
0      585
0     1239
0 ...
3    distance
0      418
0      400
0      852
0 ...
4    distance
0      418
0      400
0      852
0 ...

In [59]:
df_MT1.to_csv("df_MT1.csv",mode='w')

In [70]:
#csv로 저장한 각 카테고리별 거리 불러오기

dfps3 = pd.read_csv("df_PS3.csv", encoding='utf-8',index_col = 0)
dfsc4 = pd.read_csv("df_SC4.csv", encoding='utf-8',index_col = 0)
dfct1 = pd.read_csv("df_CT1.csv", encoding='utf-8',index_col = 0)
dfhp8 = pd.read_csv("df_HP8.csv", encoding='utf-8',index_col = 0)
dfmt1 = pd.read_csv("df_MT1.csv", encoding='utf-8',index_col = 0)
dfp03 = pd.read_csv("df_PO3.csv", encoding='utf-8',index_col = 0)

In [105]:
#dataframe을 list로 변환후 List Split하기


listps = dfps3.distance.str.split('\n0   ')
listsc = dfsc4.distance.str.split('\n0  ')
listct = dfct1.distance.str.split('\n0   ')
listhp = dfhp8.distance.str.split('\n0   ')
listmt = dfmt1.distance.str.split('\n0  ')
listp = dfp03.distance.str.split('\n0   ')
listp

0       [  distance,    299,    635,    284,    785,  ...
1       [  distance,    443,    583,    656,    534,  ...
2       [  distance,    217,    864,    753,    957,  ...
3       [  distance,    322,    504,    771,   1164,  ...
4       [  distance,    322,    504,    771,   1164,  ...
                              ...
8797    [  distance,    544,    405,    466,    532,  ...
8798    [  distance,    492,    643,    836,    640,  ...
8799    [  distance,    627,    515,    848,    879,  ...
8800    [  distance,    811,    751,    777,    720,  ...
8801    [  distance,    787,    742,    715,    795,  ...
Name: distance, Length: 8802, dtype: object

In [106]:
# list 순서대로 한뒤 첫번째 column drop

dfps = pd.DataFrame.from_records(listps)
dfps = dfps.copy().drop(0,axis=1)
dfsc = pd.DataFrame.from_records(listsc)
dfsc = dfsc.copy().drop(0,axis=1)
dfct = pd.DataFrame.from_records(listct)
dfct = dfct.copy().drop(0,axis=1)
dfhp = pd.DataFrame.from_records(listhp)
dfhp = dfhp.copy().drop(0,axis=1)
dfmt = pd.DataFrame.from_records(listmt)
dfmt = dfmt.copy().drop(0,axis=1)
dfp = pd.DataFrame.from_records(listp)
dfp = dfp.copy().drop(0,axis=1)

In [107]:
# str 리스트를 int로 변환


dfps = dfps.apply(pd.to_numeric)
dfsc = dfsc.apply(pd.to_numeric)
dfct = dfct.apply(pd.to_numeric)
dfhp = dfhp.apply(pd.to_numeric)
dfmt = dfmt.apply(pd.to_numeric)
dfp = dfp.apply(pd.to_numeric)

In [111]:
dfps

,1,2,3,4,5,6,7,8,9,10,...,36,37,38,39,40,41,42,43,44,45
0,525,340,186,521.0,549.0,709.0,641.0,625.0,687.0,628.0,...,1427.0,1303.0,1136.0,1217.0,1467.0,1338.0,1408.0,NaN,NaN,NaN
1,50,138,450,513.0,657.0,368.0,463.0,659.0,345.0,391.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,840,795,640,616.0,911.0,978.0,897.0,1086.0,460.0,777.0,...,1278.0,1102.0,1020.0,1164.0,1498.0,1489.0,1436.0,1436.0,1356.0,1399.0
3,358,290,485,960.0,459.0,791.0,906.0,673.0,355.0,805.0,...,1093.0,1439.0,1318.0,919.0,424.0,1320.0,1215.0,1051.0,1438.0,1373.0
4,358,290,485,960.0,459.0,791.0,906.0,673.0,355.0,805.0,...,1093.0,1439.0,1318.0,919.0,424.0,1320.0,1215.0,1051.0,1438.0,1373.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8797,153,396,422,302.0,282.0,840.0,866.0,759.0,955.0,684.0,...,981.0,609.0,1167.0,966.0,1111.0,983.0,873.0,755.0,264.0,1072.0
8798,379,666,305,420.0,403.0,685.0,657.0,781.0,549.0,473.0,...,676.0,1056.0,515.0,1189.0,972.0,924.0,707.0,706.0,885.0,1120.0
8799,501,125,350,809.0,577.0,343.0,396.0,523.0,793.0,504.0,...,182.0,933.0,913.0,951.0,473.0,980.0,918.0,1206.0,1285.0,902.0
8800,232,276,217,886.0,576.0,808.0,620.0,803.0,947.0,485.0,...,1037.0,1037.0,963.0,836.0,947.0,1172.0,487.0,295.0,947.0,953.0
8801,256,253,202,893.0,785.0,553.0,612.0,785.0,935.0,508.0,...,926.0,1060.0,1060.0,844.0,977.0,481.0,271.0,935.0,1173.0,1057.0

In [112]:
#거리내 개수 구하기

dfpscnt = dfps[dfps<1500].count(axis=1)
dfsccnt = dfsc[dfsc<2000].count(axis=1)
dfctcnt = dfct[dfct<3000].count(axis=1)
dfhpcnt = dfhp[dfhp<3000].count(axis=1)
dfmtcnt = dfmt[dfmt<1500].count(axis=1)
dfpcnt = dfp[dfp<1500].count(axis=1)
dfsccnt

0       37
1       27
2       38
3       40
4       40
        ..
8797    39
8798    39
8799    39
8800    38
8801    38
Length: 8802, dtype: int64

In [120]:
#Count한 거리를 df로 저장

dfps1 = pd.DataFrame(dfpscnt)
dfsc1 = pd.DataFrame(dfsccnt)
dfct1 = pd.DataFrame(dfctcnt)
dfhp1 = pd.DataFrame(dfhpcnt)
dfmt1 = pd.DataFrame(dfmtcnt)
dfp1 = pd.DataFrame(dfpcnt)
dfp1

       0
0     12
1      7
2     10
3     12
4     12
...   ..
8797  22
8798  22
8799  25
8800  21
8801  21

[8802 rows x 1 columns]

In [121]:
#count한 거리 DF를 column name 변경 및 개수와 최단거리 merge

dfpsdf = pd.merge(dfps1,dfps,left_index=True,right_index=True,how='left')
dfpsdf = dfpsdf.iloc[:,0:2]
dfpsdf = dfpsdf.rename(columns={0:'1.5km 이내 유치원, 어린이집 개수',1:'유치원, 어린이집 최단거리'})

dfscdf = pd.merge(dfsc1,dfsc,left_index=True,right_index=True,how='left')
dfscdf = dfscdf.iloc[:,0:2]
dfscdf = dfscdf.rename(columns={0:'2km 이내 학교 개수',1:'학교 최단거리'})

dfctdf = pd.merge(dfct1,dfct,left_index=True,right_index=True,how='left')
dfctdf = dfctdf.iloc[:,0:2]
dfctdf = dfctdf.rename(columns={0:'2km이내 문화시설 개수',1:'문화시설 최단거리'})

dfhpdf = pd.merge(dfhp1,dfhp,left_index=True,right_index=True,how='left')
dfhpdf = dfhpdf.iloc[:,0:2]
dfhpdf = dfhpdf.rename(columns={0:'2km이내 병원 개수',1:'병원 최단거리'})

dfmtdf = pd.merge(dfmt1,dfmt,left_index=True,right_index=True,how='left')
dfmtdf = dfmtdf.iloc[:,0:2]
dfmtdf = dfmtdf.rename(columns={0:'1.5km이내 공공기관 개수',1:'공공기관 최단거리'})

dfpdf = pd.merge(dfp1,dfp,left_index=True,right_index=True,how='left')
dfpdf = dfpdf.iloc[:,0:2]
dfpdf = dfpdf.rename(columns={0:'1.5km이내 대형마트 개수',1:'대형마트 최단거리'})

dfpsdfdfscdfdfctdfdfhpdfdfmtdfdfpdf

dfpdf

      1.5km이내 대형마트 개수  대형마트 최단거리
0                  12        299
1                   7        443
2                  10        217
3                  12        322
4                  12        322
...               ...        ...
8797               22        544
8798               22        492
8799               25        627
8800               21        811
8801               21        787

[8802 rows x 2 columns]

In [125]:
#이전에 만들어 놓은 지하철 최단 거리 및 개수 불러오기

dfswdf = pd.read_csv('df_SW8.csv',index_col = 0)
dfswdf

      2km이내 지하철 개수  지하철 최단거리
0               10       828
1                7      1178
2               11       705
3               15       415
4               15       415
...            ...       ...
8797            13       233
8798            11       451
8799            12       630
8800            10       600
8801            10       590

[8802 rows x 2 columns]

In [149]:
#거리 df concat

dfs = pd.concat([dfpsdf,dfscdf,dfctdf,dfhpdf,dfmtdf,dfpdf,dfswdf],axis =1)
dfs

,"1.5km 이내 유치원, 어린이집 개수","유치원, 어린이집 최단거리",2km 이내 학교 개수,학교 최단거리,2km이내 문화시설 개수,문화시설 최단거리,2km이내 병원 개수,병원 최단거리,1.5km이내 공공기관 개수,공공기관 최단거리,1.5km이내 대형마트 개수,대형마트 최단거리,2km이내 지하철 개수,지하철 최단거리
0,42,525,37,110,31,852,45,756,9,197.0,12,299,10,828
1,35,50,27,408,27,1419,45,507,8,746.0,7,443,7,1178
2,45,840,38,223,33,855,45,213,14,315.0,10,217,11,705
3,45,358,40,511,29,350,45,820,12,418.0,12,322,15,415
4,45,358,40,511,29,350,45,820,12,418.0,12,322,15,415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8797,45,153,39,139,4,720,45,246,7,545.0,22,544,13,233
8798,45,379,39,559,4,299,45,317,8,356.0,22,492,11,451
8799,45,501,39,473,4,499,45,129,8,563.0,25,627,12,630
8800,45,232,38,352,4,471,45,407,7,435.0,21,811,10,600
8801,45,256,38,339,4,483,45,388,7,455.0,21,787,10,590

In [161]:
# 주소 df 불러오기

dfd = pd.read_csv('df_duplicate.csv', encoding='utf-8', usecols = ['주소'])
dfd

                         주소
0         서울특별시 강남구 언주로 103
1           서울특별시 강남구 언주로 3
2         서울특별시 강남구 개포로 307
3      서울특별시 강남구 개포로109길 69
4         서울특별시 강남구 개포로 310
...                     ...
8797  서울특별시 중랑구 동일로126나길 38
8798   서울특별시 중랑구 봉우재로33길 85
8799    서울특별시 중랑구 면목로92길 28
8800     서울특별시 중랑구 봉우재로 155
8801    서울특별시 중랑구 봉우재로41길 6

[8802 rows x 1 columns]

In [162]:
# 동일한 index순을 갖고 있기때문에 concat을 통해 병합

dfd1 = pd.concat([dfd,dfs],axis=1)
dfd1

,주소,"1.5km 이내 유치원, 어린이집 개수","유치원, 어린이집 최단거리",2km 이내 학교 개수,학교 최단거리,2km이내 문화시설 개수,문화시설 최단거리,2km이내 병원 개수,병원 최단거리,1.5km이내 공공기관 개수,공공기관 최단거리,1.5km이내 대형마트 개수,대형마트 최단거리,2km이내 지하철 개수,지하철 최단거리
0,서울특별시 강남구 언주로 103,42,525,37,110,31,852,45,756,9,197.0,12,299,10,828
1,서울특별시 강남구 언주로 3,35,50,27,408,27,1419,45,507,8,746.0,7,443,7,1178
2,서울특별시 강남구 개포로 307,45,840,38,223,33,855,45,213,14,315.0,10,217,11,705
3,서울특별시 강남구 개포로109길 69,45,358,40,511,29,350,45,820,12,418.0,12,322,15,415
4,서울특별시 강남구 개포로 310,45,358,40,511,29,350,45,820,12,418.0,12,322,15,415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8797,서울특별시 중랑구 동일로126나길 38,45,153,39,139,4,720,45,246,7,545.0,22,544,13,233
8798,서울특별시 중랑구 봉우재로33길 85,45,379,39,559,4,299,45,317,8,356.0,22,492,11,451
8799,서울특별시 중랑구 면목로92길 28,45,501,39,473,4,499,45,129,8,563.0,25,627,12,630
8800,서울특별시 중랑구 봉우재로 155,45,232,38,352,4,471,45,407,7,435.0,21,811,10,600
8801,서울특별시 중랑구 봉우재로41길 6,45,256,38,339,4,483,45,388,7,455.0,21,787,10,590

In [166]:
#부동산 데이터 불러오기

propdf = pd.read_csv("prop_concat2015~2020(1).csv", encoding='utf-8',index_col = 0)
propdf

,전용면적(㎡),계약일,거래금액(만원),층,연도,월,연수,시,구,동,주소
0,77,11,60000,5,2015,1,27,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
1,77,3,65000,5,2015,3,27,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
2,77,7,62500,2,2015,3,27,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
3,77,16,68000,6,2015,8,27,서울특별시,강남구,개포동,서울특별시 강남구 언주로 103
4,79,29,73000,5,2015,1,28,서울특별시,강남구,개포동,서울특별시 강남구 언주로 3
...,...,...,...,...,...,...,...,...,...,...,...
576530,67,7,26000,2,2020,8,17,서울특별시,중랑구,중화동,서울특별시 중랑구 동일로144길 74
576531,95,10,44000,6,2020,7,13,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 23
576532,100,3,54800,5,2020,12,13,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 23
576533,77,28,40000,5,2020,9,13,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 19
576534,77,28,40000,5,2020,9,13,서울특별시,중랑구,중화동,서울특별시 중랑구 봉화산로27가길 19

In [167]:
#부동산 데이터와 거리 데이터 merge

dfmerged = propdf.merge(dfd1,on=['주소'],how='left')
dfmerged

,전용면적(㎡),계약일,거래금액(만원),층,연도,월,연수,시,구,동,...,2km이내 문화시설 개수,문화시설 최단거리,2km이내 병원 개수,병원 최단거리,1.5km이내 공공기관 개수,공공기관 최단거리,1.5km이내 대형마트 개수,대형마트 최단거리,2km이내 지하철 개수,지하철 최단거리
0,77,11,60000,5,2015,1,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
1,77,3,65000,5,2015,3,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
2,77,7,62500,2,2015,3,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
3,77,16,68000,6,2015,8,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
4,79,29,73000,5,2015,1,28,서울특별시,강남구,개포동,...,27,1419,45,507,8,746.0,7,443,7,1178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576530,67,7,26000,2,2020,8,17,서울특별시,중랑구,중화동,...,9,1099,45,515,7,863.0,19,940,18,507
576531,95,10,44000,6,2020,7,13,서울특별시,중랑구,중화동,...,6,906,45,845,7,745.0,16,812,16,476
576532,100,3,54800,5,2020,12,13,서울특별시,중랑구,중화동,...,6,906,45,845,7,745.0,16,812,16,476
576533,77,28,40000,5,2020,9,13,서울특별시,중랑구,중화동,...,6,905,45,831,7,741.0,16,832,17,461
576534,77,28,40000,5,2020,9,13,서울특별시,중랑구,중화동,...,6,905,45,831,7,741.0,16,832,17,461

In [168]:
dfmerged.to_csv('distance_prop_merged(1).csv',mode='w')

In [239]:
dfmerged['동'] = dfmerged.copy()['동'].str.replace('\d+', '')
dfmerged['동'].unique()

<ipython-input-239-f0345f29f73a>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dfmerged['동'] = dfmerged.copy()['동'].str.replace('\d+', '')

array(['개포동', '논현동', '대치동', '도곡동', '삼성동', '세곡동', '수서동', '신사동', '압구정동',
       '역삼동', '율현동', '일원동', '자곡동', '청담동', '강일동', '고덕동', '길동', '둔촌동',
       '명일동', '상일동', '성내동', '암사동', '천호동', '미아동', '번동', '수유동', '우이동',
       '가양동', '공항동', '내발산동', '등촌동', '마곡동', '방화동', '염창동', '화곡동', '남현동',
       '봉천동', '신림동', '광장동', '구의동', '군자동', '능동', '자양동', '중곡동', '화양동',
       '가리봉동', '개봉동', '고척동', '구로동', '궁동', '신도림동', '오류동', '온수동', '천왕동',
       '항동', '가산동', '독산동', '시흥동', '공릉동', '상계동', '월계동', '중계동', '하계동',
       '도봉동', '방학동', '쌍문동', '창동', '답십리동', '신설동', '용두동', '이문동', '장안동',
       '전농동', '제기동', '청량리동', '회기동', '휘경동', '노량진동', '대방동', '동작동', '본동',
       '사당동', '상도동', '신대방동', '흑석동', '공덕동', '구수동', '노고산동', '대흥동', '도화동',
       '동교동', '마포동', '망원동', '상수동', '상암동', '서교동', '성산동', '신공덕동', '신수동',
       '신정동', '아현동', '연남동', '염리동', '용강동', '중동', '창전동', '토정동', '하중동',
       '합정동', '현석동', '남가좌동', '냉천동', '대현동', '미근동', '북가좌동', '북아현동', '연희동',
       '영천동', '창천동', '천연동', '충정로가', '합동', '현저동', '홍은동', '홍제동', '내곡동',
       '반포동', '방배동', '서초동', '신원동', '양재동', '우면동', '잠원동', '금호동가', '도선동',
       '마장동', '사근동', '상왕십리동', '성수동가', '송정동', '옥수동', '용답동', '응봉동', '하왕십리동',
       '행당동', '홍익동', '길음동', '돈암동', '동선동가', '동소문동가', '보문동가', '삼선동가',
       '상월곡동', '석관동', '성북동', '안암동가', '장위동', '정릉동', '종암동', '하월곡동', '가락동',
       '거여동', '마천동', '문정동', '방이동', '삼전동', '석촌동', '송파동', '신천동', '오금동',
       '잠실동', '장지동', '풍납동', '목동', '신월동', '당산동', '당산동가', '대림동', '도림동',
       '문래동가', '신길동', '양평동가', '여의도동', '영등포동', '영등포동가', '갈월동', '도원동',
       '동빙고동', '동자동', '문배동', '보광동', '산천동', '서빙고동', '신계동', '신창동', '용문동',
       '용산동가', '원효로가', '이촌동', '이태원동', '청암동', '청파동가', '한강로가', '한남동', '효창동',
       '후암동', '갈현동', '구산동', '녹번동', '대조동', '불광동', '수색동', '역촌동', '응암동',
       '증산동', '진관동', '견지동', '교북동', '구기동', '내수동', '당주동', '동숭동', '명륜가',
       '무악동', '부암동', '사직동', '수송동', '숭인동', '신교동', '신영동', '연건동', '익선동',
       '인의동', '창신동', '청운동', '충신동', '평창동', '필운동', '행촌동', '남대문로가', '남산동가',
       '남창동', '만리동가', '묵정동', '산림동', '순화동', '신당동', '예장동', '인현동가', '장충동가',
       '정동', '중림동', '충무로가', '황학동', '회현동가', '흥인동', '망우동', '면목동', '묵동',
       '상봉동', '신내동', '중화동', '연지동', '이화동', '통인동', '필동가', '성북동가', '주성동',
       '교남동', '신문로가', '홍파동', '효제동', '을지로가', '누상동', '옥인동', '혜화동', '평동',
       '오장동', '원남동'], dtype=object)

In [228]:
dongdf = pd.read_csv('dongdf_merged.csv', encoding='utf-8',index_col = 0)

In [238]:
dongdf['동'].unique()

array(['개포동', '논현동', '대치동', '도곡동', '삼성동', '세곡동', '수서동', '신사동', '압구정동',
       '역삼동', '일원동', '일원본동', '청담동', '강일동', '고덕동', '길동', '둔촌동', '명일동',
       '상일동', '성내동', '암사동', '천호동', '미아동', '번동', '삼각산동', '삼양동', '송중동',
       '송천동', '수유동', '우이동', '인수동', '가양동', '공항동', '등촌동', '발산동', '방화동',
       '염창동', '우장산동', '화곡동', '화곡본동', '낙성대동', '난곡동', '난향동', '남현동', '대학동',
       '미성동', '보라매동', '서림동', '서원동', '성현동', '신림동', '신원동', '은천동', '인헌동',
       '조원동', '중앙동', '청룡동', '청림동', '행운동', '광장동', '구의동', '군자동', '능동',
       '자양동', '중곡동', '화양동', '가리봉동', '개봉동', '고척동', '구로동', '수궁동', '신도림동',
       '오류동', '가산동', '독산동', '시흥동', '공릉동', '상계.동', '상계동', '월계동', '중계.동',
       '중계동', '중계본동', '하계동', '도봉동', '방학동', '쌍문동', '창동', '답십리동', '용신동',
       '이문동', '장안동', '전농동', '제기동', '청량리동', '회기동', '휘경동', '노량진동', '대방동',
       '사당동', '상도동', '신대방동', '흑석동', '공덕동', '대흥동', '도화동', '망원동', '상암동',
       '서강동', '서교동', '성산동', '신수동', '아현동', '연남동', '염리동', '용강동', '합정동',
       '남가좌동', '북가좌동', '북아현동', '신촌동', '연희동', '천연동', '충현동', '홍은동', '홍제동',
       '내곡동', '반포동', '반포본동', '방배동', '방배본동', '서초동', '양재동', '잠원동', '금호.가동',
       '금호가동', '마장동', '사근동', '성수가동', '송정동', '옥수동', '왕십리도선동', '왕십리동',
       '용답동', '응봉동', '행당동', '길음동', '돈암동', '동선동', '보문동', '삼선동', '석관동',
       '성북동', '안암동', '월곡동', '장위동', '정릉동', '종암동', '가락동', '가락본동', '거여동',
       '마천동', '문정동', '방이동', '삼전동', '석촌동', '송파동', '오금동', '오륜동', '위례동',
       '잠실동', '잠실본동', '장지동', '풍납동', '목동', '신월동', '신정동', '당산동', '대림동',
       '도림동', '문래동', '신길동', '양평동', '여의동', '영등포동', '영등포본동', '남영동', '보광동',
       '서빙고동', '용문동', '용산가동', '원효로동', '이촌동', '이태원동', '청파동', '한강로동', '한남동',
       '효창동', '후암동', '갈현동', '구산동', '녹번동', '대조동', '불광동', '수색동', '역촌동',
       '응암동', '증산동', '진관동', '가회동', '교남동', '무악동', '부암동', '사직동', '삼청동',
       '숭인동', '이화동', '종로...가동', '종로·가동', '창신동', '청운효자동', '평창동', '혜화동',
       '광희동', '다산동', '동화동', '명동', '소공동', '신당동', '약수동', '을지로동', '장충동',
       '중림동', '청구동', '필동', '황학동', '회현동', '망우동', '망우본동', '면목.동', '면목동',
       '면목본동', '묵동', '상봉동', '신내동', '중화동'], dtype=object)

In [230]:

dfmerged.rename(columns={'구':'자치구','연도':'기간'}, inplace = True)
print(dfmerged.columns)
dfmerged

Index(['전용면적(㎡)', '계약일', '거래금액(만원)', '층', '기간', '월', '연수', '시', '자치구', '동',
       '주소', '1.5km 이내 유치원, 어린이집 개수', '유치원, 어린이집 최단거리', '2km 이내 학교 개수',
       '학교 최단거리', '2km이내 문화시설 개수', '문화시설 최단거리', '2km이내 병원 개수', '병원 최단거리',
       '1.5km이내 공공기관 개수', '공공기관 최단거리', '1.5km이내 대형마트 개수', '대형마트 최단거리',
       '2km이내 지하철 개수', '지하철 최단거리'],
      dtype='object')

,전용면적(㎡),계약일,거래금액(만원),층,기간,월,연수,시,자치구,동,...,2km이내 문화시설 개수,문화시설 최단거리,2km이내 병원 개수,병원 최단거리,1.5km이내 공공기관 개수,공공기관 최단거리,1.5km이내 대형마트 개수,대형마트 최단거리,2km이내 지하철 개수,지하철 최단거리
0,77,11,60000,5,2015,1,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
1,77,3,65000,5,2015,3,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
2,77,7,62500,2,2015,3,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
3,77,16,68000,6,2015,8,27,서울특별시,강남구,개포동,...,31,852,45,756,9,197.0,12,299,10,828
4,79,29,73000,5,2015,1,28,서울특별시,강남구,개포동,...,27,1419,45,507,8,746.0,7,443,7,1178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576530,67,7,26000,2,2020,8,17,서울특별시,중랑구,중화동,...,9,1099,45,515,7,863.0,19,940,18,507
576531,95,10,44000,6,2020,7,13,서울특별시,중랑구,중화동,...,6,906,45,845,7,745.0,16,812,16,476
576532,100,3,54800,5,2020,12,13,서울특별시,중랑구,중화동,...,6,906,45,845,7,745.0,16,812,16,476
576533,77,28,40000,5,2020,9,13,서울특별시,중랑구,중화동,...,6,905,45,831,7,741.0,16,832,17,461
576534,77,28,40000,5,2020,9,13,서울특별시,중랑구,중화동,...,6,905,45,831,7,741.0,16,832,17,461

In [231]:
dfmerged2 = dongdf.merge(dfmerged,on=('자치구','동'),how='right')
dfmerged2

,기간_x,자치구,동,내국인 인구,외국인 인구,세대당인구,65세이상 내국인 인구,65세이상 외국인 인구,총 수급자,면적,...,2km이내 문화시설 개수,문화시설 최단거리,2km이내 병원 개수,병원 최단거리,1.5km이내 공공기관 개수,공공기관 최단거리,1.5km이내 대형마트 개수,대형마트 최단거리,2km이내 지하철 개수,지하철 최단거리
0,2019.0,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,...,31,852,45,756,9,197.0,12,299,10,828
1,2019.0,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,...,31,852,45,756,9,197.0,12,299,10,828
2,2019.0,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,...,31,852,45,756,9,197.0,12,299,10,828
3,2019.0,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,...,31,852,45,756,9,197.0,12,299,10,828
4,2019.0,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,...,27,1419,45,507,8,746.0,7,443,7,1178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576530,2019.0,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,...,9,1099,45,515,7,863.0,19,940,18,507
576531,2019.0,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,...,6,906,45,845,7,745.0,16,812,16,476
576532,2019.0,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,...,6,906,45,845,7,745.0,16,812,16,476
576533,2019.0,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,...,6,905,45,831,7,741.0,16,832,17,461
576534,2019.0,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,...,6,905,45,831,7,741.0,16,832,17,461

In [232]:
dfmerged3 = dfmerged2.drop(('기간_x'),axis=1)
dfmerged3

,자치구,동,내국인 인구,외국인 인구,세대당인구,65세이상 내국인 인구,65세이상 외국인 인구,총 수급자,면적,인구밀도,...,2km이내 문화시설 개수,문화시설 최단거리,2km이내 병원 개수,병원 최단거리,1.5km이내 공공기관 개수,공공기관 최단거리,1.5km이내 대형마트 개수,대형마트 최단거리,2km이내 지하철 개수,지하철 최단거리
0,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,8861.666667,...,31,852,45,756,9,197.0,12,299,10,828
1,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,8861.666667,...,31,852,45,756,9,197.0,12,299,10,828
2,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,8861.666667,...,31,852,45,756,9,197.0,12,299,10,828
3,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,8861.666667,...,31,852,45,756,9,197.0,12,299,10,828
4,강남구,개포동,15710.666667,80.666667,254.666667,2188.666667,3.666667,194.666667,1.756667,8861.666667,...,27,1419,45,507,8,746.0,7,443,7,1178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576530,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,29295.000000,...,9,1099,45,515,7,863.0,19,940,18,507
576531,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,29295.000000,...,6,906,45,845,7,745.0,16,812,16,476
576532,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,29295.000000,...,6,906,45,845,7,745.0,16,812,16,476
576533,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,29295.000000,...,6,905,45,831,7,741.0,16,832,17,461
576534,중랑구,중화동,23723.000000,372.000000,21.000000,4023.500000,11.000000,988.000000,0.830000,29295.000000,...,6,905,45,831,7,741.0,16,832,17,461

In [233]:
dfmerged3.to_csv('regdf.csv',mode='w')

In [234]:
dfmerged3.isnull().sum()

자치구                          0
동                            0
내국인 인구                   78002
외국인 인구                   78002
세대당인구                    78002
65세이상 내국인 인구             78002
65세이상 외국인 인구             80492
총 수급자                    78002
면적                       78002
인구밀도                     78002
독거노인 합계                  78002
출생                       78002
사망                       78002
전용면적(㎡)                      0
계약일                          0
거래금액(만원)                     0
층                            0
기간_y                         0
월                            0
연수                           0
시                            0
주소                           0
1.5km 이내 유치원, 어린이집 개수        0
유치원, 어린이집 최단거리               0
2km 이내 학교 개수                 0
학교 최단거리                      0
2km이내 문화시설 개수                0
문화시설 최단거리                    0
2km이내 병원 개수                  0
병원 최단거리                      0
1.5km이내 공공기관 개수              0
공공기관 최단거리                 1031
1.5km이내 대형마트 개수              0
대형마트 최단거리                    0
2km이내 지하철 개수                 0
지하철 최단거리                     0
dtype: int64